* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********************************
        VARIABII GLOBALI 
********************************/
:root {
    --primary-color: #221709;
    --secondary-color: #63c5c4;
    --thirdary-color: #b0d136;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhitePP;
}

/********************************
        CLASS UTILITIES 
*********************************/
.row {
    display: flex;
}

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

[class*="container"] {
    width: 100%;
}

/* colors */
.white {
    color: white;
}

.green {
    color: var(--thirdary-color)
}

/***************************
        GENERALI
****************************/
h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

/******* NAV  *****************************/
nav {
    background-color: var(--primary-color);
    color: --secondary-color,
}

nav button {
    font-size: 1.5rem;
    padding: 15px;
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
}

.logo #mobile-logo {
    width: 60px;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    align-items: center;
    position: relative;
}

nav input[type="search"] {
    position: absolute;
    border-radius: 20px;
    border: none;
    padding: 5px;
    background-image: url(../img/magnifying-glass-solid.svg);
    background-color: transparent;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    width: 30px;
    aspect-ratio: 1/1;
    right: -85px;
    transition: width 0.5s;
}

nav input[type="search"]:focus {
    width: 150px;
    aspect-ratio: initial;
    background-size: 20%;
    background-position: right;
    background-color: var(--secondary-color);
}

nav input[type="search"]:focus+.title {
    transform: translateX(-90px);
}

.title {
    transition: transform .5s;
}

.menu .list-menu {
    background-color: #63c5c3c0;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 58px;
    text-align: right;
    display: none;
}

.menu .menu-icon:hover+.list-menu {
    display: inline;
}

.list-menu li {
    padding: 5px;
}

.list-menu a {
    color: var(--primary-color);
    font-weight: 600;
    padding: 5px;
}

/* 4 desktop- display */

.caregory-container {
    display: flex;
    flex-direction: column;
}

nav .logo #desktop-logo {
    display: none;
}



/* *****************************
           MAXI-CONTAINER
***************************** */
#maxi-container {
    flex-direction: column;
}


/*************CATEGORY****************/

.caregory-container {
    flex-direction: column;
    text-align: center;

}

.category-title{
    background-color: #bbb7b3;
}

.caregory-container a {
    display: inline-block;
    padding: 5px 10px;
    color: #221709;

}

.caregory-container a:hover + .category-voices {
    display: inline-block;
    background-color: #bbb7b386;
}

.category-voices:hover{
    color: red;
}

.caregory-container h2 {
    display: none;
}

.caregory-container .category-voices {
    display: none;



}



/* *****************************
           FOOTER
***************************** */

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}